@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-address-list {
    display: flex;
    gap: 40px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-desk@2x.jpg);
    }
  }

  .feature-item {
    width: calc((100% - 72px) / 4);
  }
  .feature-container-icon {
    background: var(--filter-btn-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }

  .section.action {
    display: block;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .action-title {
    margin-bottom: 72px;
  }
  .action-list {
    display: flex;
    gap: 24px;
  }
  .action-item {
    width: calc((100% - 48px) / 3);
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .customers-container {
    max-width: 1128px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
    margin-bottom: 0;
  }

  .footer .footer-container {
    display: flex;
    align-items: baseline;
  }

  .social-container {
    display: block;
    margin-left: 120px;
  }
}
